/* Navbar.css */
/* #ff7869 */
.navbar {
    background-color: #0a1823;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0px;
  }

.navbar img {
  margin-right: 10px;
}

.navbar span {
margin-left: 25px;
margin-right: 25px;
}

.navbar button {
  background-color: #ff7869;
  padding: 8px 16px;
  margin-left: 15px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Add more specific styles as needed */

  